{% extends "_global/index.html" %}

{% block main %}
<div class="conteiner-fluid">
<div class="row" id="meni1">
    <div class="container1 col-md-4"> <button class="btn btn-block tablink tablinks"
            onclick="openPage('Home', this, 'rgb(194, 199, 200)')" id="defaultOpen">Zaduzene knjige</button>
    </div>
    <div class="container1 col-md-4"> <button class="btn btn-block tablink tablinks"
            onclick="openPage('News', this, 'rgb(153, 155, 161)')">Dodaj knjigu</button></div>
    <div class="container1 col-md-4"> <button class="btn btn-block tablink tablinks "
            onclick="openPage('Contact', this, 'rgb(127, 128, 138)')">Izmeni knjigu</button></div>

</div>
<div id="Home" class="tabcontent">

        <div class="row justify-content-around kolona py-5 px-5">
                {% for book in books %}

                <div class="col-md-3 ">
                    <div class="card m-3 knjiskaProvidna ">
                        <img src="{{ BASE }}assets/uploads/{{ book.book_id }}.jpg" class="card-img-top mx-auto"
                            alt="knjiga">
                        <div class="card-body ">
                            <h5 class="card-title text-center">{{ book.title|escape }}</h5>
                            <a href="{{ BASE }}librarian/book/{{book.book_id}}"> <button type="button"
                                    class="btn btn-danger1 btn-block dugme-oglas"> Vidi knjigu </button></a>
                        </div>

                    </div>
                </div>
                {% endfor %}
        </div>

        


</div>

<div id="News" class="tabcontent">
    <div class="col col-12 col-md-6 offset-md-3 py-5 ">
        <div class="card">
            <div class="card-header text-center bibBoja">
                <i class="fas fa-book"></i>
                Dodavanje knjige
            </div>

            <div class="card-body">
                <form method="post" enctype="multipart/form-data" action="{{ BASE }}librarian/book/add">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-heading"></i>
                                </span>
                            </div>

                            <input type="text" id="title" name="title" class="form-control" required
                                placeholder="Unesite naslov knjige." pattern=".*[^\s]{3,}.*">
                        </div>
                    </div>



                    <div class="row">
                        <div class="form-group col col-12 col-md-6">
                            <label for="isbn">ISBN:</label>
                            <input type="text" id="isbn" name="isbn" class="form-control" required
                                placeholder="ISBN mora imati tacno 13 cifara">
                        </div>

                        <div class="form-group col col-12 col-md-6">
                            <label for="published_at">Datom objave:</label>
                            <input type="date" id="published_at" name="published_at" required class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col col-12 col-md-6">
                            <label for="input_surname">Autor:</label>
                            <select id="category_id" name="author_id" class="form-control">
                                {% for autor in autori %}
                                <option value="{{ autor.author_id }}">
                                    {{ autor.forename }} {{ autor.surname }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group col col-12 col-md-6">
                            <label for="input_surname">Kategorija:</label>
                            <select id="category_id" name="category_id" class="form-control">
                                {% for category in categories %}
                                <option value="{{ category.category_id }}">
                                    {{ category.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-align-left"></i>
                                </span>
                            </div>

                            <textarea class="form-control" required name="description" id="description"
                                placeholder="Unesite opis knjige." pattern=".*[^\s]{3,}.*"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="image">Izaberite sliku (podrzan format je .jpg)</label>
                        <input class="form-control-file" type="file" required name="image" id="image">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger1 col col-12 col-md-4 offset-md-4">
                            Dodaj knjigu
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="Contact" class="tabcontent">
    <div class="col col-12 col-md-6 offset-md-3 py-5 izmena ">
        <div class="card ">
            <div class="card-header  text-center bibBoja">
                <i class="fas fa-book"></i>
                Izmena knjige
            </div>

            <div class="card-body">
                <form method="post" action="{{ BASE }}librarian/book/search/">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" id="input_username" name="search" class="form-control" required
                                placeholder="Unesite naslov knjige koju zelite da izmenite.">
                            <div class="input-group-append">
                                <button type="submit" class="input-group-text">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</div>

{% endblock %}
{% block dash %} <a class="pl-4 beli-tekst" href="{{ BASE }}librarian/dashboard"> Dashboard </a>  {% endblock %}