{% extends "_global/index.html" %}

{% block main %}

    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-12 col-md-5 offset-md-2" >
                <div class="row ">
                <div class="col-12 col-md-6 mr-auto" id="korice">
                    <img src="{{ BASE }}assets/uploads/{{ book.book_id }}.jpg">
                </div>

                <div class="col-12 col-md-6">
                    <h2 class="text-center">{{ book.title|escape}}</h2> 
                    <table class="table mt-5">
                        <tbody>
                            <tr>
                                <td>Autor</td>
                                <td>{{ imeAutora }} {{ prezimeAutora }}</td>
                            </tr>
                            <tr>
                                <td>Godina izdanja</td>
                                <td>{{ book.published_at|escape}}</td>
                            </tr>
                            <tr>
                                <td>ISBN </td>
                                <td>{{ book.isbn|escape}}</td>
                            </tr>
                            <tr>
                                <td>Kategorija</td>
                                {% for category in categories %}
                                {% if category.category_id == book.category_id %}
                                <td>{{ category.name|escape}}</td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Stanje</td>
                                {% for stanje in stanja %}
                                {% if stanje.active_id == book.active_id %}
                                <td>{{ stanje.name|escape}}</td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Bibliotekar</td>
                                {% for bib in bibliotekari %}
                                {% if bib.librarian_id == book.librarian_id %}
                                <td>{{ bib.forename|escape}} {{ bib.surname|escape}}</td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="w-100"></div>
            </div>
        <div class="col-12">
            <div class="product-description opis">
                    <hr>
                    <h4>Opis knjige</h4>
                    <p>{{ book.description|escape}}.</p>
            </div>
        </div>
    </div>
        <div class="col-10 offset-1 col-md-3 offset-md-0 mb-5">
            <div class="card">
                <div class="card-header text-center bibBoja">Zaduzenja\Rezervacije</div>
                <div class="list-group">
                        <a href="#"  class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Student
                                <span class="float-right badge badge-pill badge-dark">Kraj zaduzenja</span>
                                <span class="float-right badge badge-pill badge-dark">Pocetak zaduzenja</span>
                        </a>
                            {% for rez in rezervacije %}
                        <a href="#"  class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                            {{ rez.imeStudenta }} {{ rez.prezimeStudenta}}
                              
                            <span class="float-right badge {% if rez.vracena == 1 %}badge-success{% else %} badge-danger {% endif %} badge-pill">
                                {{ rez.expires_at|date("m/d/Y")  }}</span> 
                            <span class="float-right badge badge-primary badge-pill">{{ rez.created_at|date("m/d/Y")  }}</span>
                                
                            {% endfor %}
                        </a>
                        <div>
                        </div>
                    </div>
                </div> 
        </div>
    </div>
</div>


{% endblock %}

{% block naslov %}
{{ category.name|escape }}
{% endblock %}
{% block dash %} <a class="pl-4 beli-tekst" href="{{ BASE }}librarian/dashboard"> Dashboard </a>  {% endblock %}