{% extends "_global/index.html" %}

{% block main %}

{% if poruka  %}
<div class="col col-12 col-md-6 offset-md-3 py-5">
        <div class="card ">
            <div class="card-header">
                    <i class="fas fa-book"></i>
                Izmena knjige
            </div>

            <div class="card-body">
                <form method="post" action="{{ BASE }}librarian/book/search/">
                    <div class="form-group">
                        <div class="input-group">
                            <label>{{ poruka|escape }}</label>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %} 
<ul>
        <div class="row justify-content-around kolona pt-5">
                {% for book in searchedBooks %}

                <div class="col-md-3 ">
                    <div class="card m-3 {% if book.is_taken %}crvenaKnjiska{% else %}knjiska{% endif %} ">
                        <img src="{{ BASE }}assets/uploads/{{ book.book_id }}.jpg" class="card-img-top mx-auto"
                            alt="knjiga">
                        <div class="card-body ">
                            <h5 class="card-title text-center">{{ book.title|escape }}</h5>
                            <a href="{{ BASE }}librarian/book/edit/{{book.book_id}}"> <button type="button"
                                    class="btn btn-danger1 btn-block dugme-oglas"> Izmeni knjigu </button></a>
                        </div>

                    </div>
                </div>
                {% endfor %}
        </div>
    
</ul>
{% endblock %}

{% block naslov %}
Registracija
{% endblock %}
{% block dash %} <a class="pl-4 beli-tekst" href="{{ BASE }}librarian/dashboard"> Dashboard </a>  {% endblock %}
