<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Biblioteka - {% block naslov %}Pocetna{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ BASE }}assets/img/banner.png">
    <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ BASE }}assets/libs/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="{{ BASE }}assets/css/main.css">
    <link rel="stylesheet" href="{{ BASE }}assets/css/style.css">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg" id="glavni-nav">



            <a class="navbar-brand">
                <img id="logo" src="{{ BASE }}assets/img/banner.png" alt="Banner 1"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Naslovna <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Kategorije</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Knjige</a></li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Knjige</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Knjige</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row  justify-content-end align-items-center py-2" id="drugi_nav">
            <div class="col-md-3 text-right mr-3">
                    <a><i class="fab fa-facebook-square fa-2x px-1"></i></a>
                    <a><i class="fab fa-instagram fa-2x px-1"></i></a>
                    <a><i class="fab fa-youtube fa-2x px-1"></i></a>
            </div>
        </div>
        {% block main %}
        
        {% endblock %}
        

            <footer id="footer">
                <p>Copyright Bikovi, &copy; 2019</p>
            </footer>

        </div> <!-- Container -->







        


        <header id="header">
            <div class="row">
                <div class="col-md-12">
                    <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </header>



        <section id="main">
            <div class="container">
                <div class="row">
                    <!-- Categories -->
                    <div class="col-md-3">
                        <div class="list-group">
                            <a href="index.html" class="list-group-item active main-color-bg">
                                <span aria-hidden="true"><i class="fas fa-book"></i></span> Kategorije
                            </a>
                            <a href="#" class="list-group-item"><span aria-hidden="true"></span> Autobiografija <span
                                    class="badge">4</span></a>
                            <a href="#" class="list-group-item"><span aria-hidden="true"></span> Drama <span
                                    class="badge">12</span></a>
                            <a href="#" class="list-group-item"><span aria-hidden="true"></span> Klasisci <span
                                    class="badge">3</span></a>
                            <a href="#" class="list-group-item"><span aria-hidden="true"></span> Komedija <span
                                    class="badge">24</span></a>
                            <a href="#" class="list-group-item"><span aria-hidden="true"></span> Naucna fantastika <span
                                    class="badge">10</span></a>
                            <a href="#" class="list-group-item"><span aria-hidden="true"></span> Poezija <span
                                    class="badge">12</span></a>
                            <a href="#" class="list-group-item"><span aria-hidden="true"></span> Pripovetka <span
                                    class="badge">16</span></a>
                            <a href="#" class="list-group-item"><span aria-hidden="true"></span> Roman <span
                                    class="badge">32</span></a>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <!-- Popular Books -->
                        <div class="panel panel-default">
                            <div class="panel-heading main-color-bg">
                                <h3 class="panel-title">Popularne knjige</h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-3">
                                    <div class="well dash-box">
                                        <img src="img/ivo-andric1.jpg" alt="ivoandric" class="img-thumbnail">
                                        <h3>Na drini cuprija</h3>
                                        <p>Ivo Andric</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="well dash-box">
                                        <img src="img/ivo-andric1.jpg" alt="ivoandric" class="img-thumbnail">
                                        <h3>Na drini cuprija</h3>
                                        <p>Ivo Andric</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="well dash-box">
                                        <img src="img/ivo-andric1.jpg" alt="ivoandric" class="img-thumbnail">
                                        <h3>Na drini cuprija</h3>
                                        <p>Ivo Andric</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="well dash-box">
                                        <img src="img/ivo-andric1.jpg" alt="ivoandric" class="img-thumbnail">
                                        <h3>Na drini cuprija</h3>
                                        <p>Ivo Andric</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Popular Books -->

                    </div>
                </div>
            </div>
        </section>

        <footer id="footer">
            <p>Copyright Bikovi, &copy; 2019</p>
        </footer>


        

            <script> const BASE = '{{ BASE }}';</script>
            <script src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>
            <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        </div>
</body>

</html>