<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Biblioteka - {% block naslov %}Pocetna{% endblock %}</title>
    <!--<link rel="stylesheet" href="assets/libs/bootstrap/dist/css/bootstrap.min.css">-->
    <link rel="icon" type="image/png" href="{{ BASE }}assets/img/banner.png">
     <!--<link rel="stylesheet" href="assets/libs/font-awesome/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="{{ BASE }}assets/css/main.css">
</head>

<body>
    <div class="container">
    <header>
        <div class="banners">
            <a href="{{ BASE }}" class="banner">
            <img id="logo" src="{{ BASE }}assets/img/banner.png" alt="Banner 1"></a>
        </div>
        <nav id="main-menu">
            
                <a href="{{ BASE }}">Pocetna</a>
                <a href="{{ BASE }}categories/">Kategorije</a>
                <a href="{{ BASE }}profile/">Profil</a>
                <a href="{{ BASE }}contact/">Kontakt</a>
                <a href="{{ BASE }}log-out/">Odjava</a>
            
        </nav>
    </header>

    <main class="main">
            {% block main %}

            {% endblock %}
    </main>

    <footer>
        &copy; 2018 Biblioteka srednje skole
    </footer>

    <script> const BASE = '{{ BASE }}';</script>
    <script src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--<script src="assets/js/bookmarks.js"></script>-->
</div>
</body>

</html>